<div class="satellite"></div>
<div class="weather"></div>

<div class="container" id="nopadding">
  <p>
    <%= image_tag "quadcopter 2.png", class: "tempimg1" %>
     Nowadays UAS drones come in different models; multi-rotor, planes, hybrids. Each of these with an almost infinite amount of designs and uses.
    Some of the more notable uses of drones are delivering medical supplies to inaccessible areas, surveying of land / crops, and inspecting utility lines.
    Giving drones very a very high standing in both industrial and recreational uses making it a booming market.
    <%= image_tag "quadcopter1.png", class: "tempimg2" %> The most popular of these UAS drones are the quadcopter's which come in many different shapes and sizes. Many of these
    quadcopters are cheap and affordable and easy to use making them a prim etarget for up and coming businesses who have just started out and need
    a company vehicle. Drones are mainly used for fun, photography, science, surveillance, and even to start up new businesses.
    The sky is the limit.

  </p>
</div>
<div class="division1">
  <%= image_tag "amazon drone-y drone.png", class: "tempimg"%>
  <h1 class="inline" id="div1">Commercial</h1>
  <p id="div1info">
    Many companies are starting to offer an array of services that quad copters and other such drones can accomplish easily. Some examples include but are not limited to:
  </p>
  <ul class="drone" id="div1info">
    <li>Majestic Aerial Video, who offer photos and videos taken by a drone.</li>
  </ul>
  <ul class="drone" id="div1info">
    <li>Amazon’s Prime Air, which is to be put to use in the future, offers a faster way to
      deliver packages using an unmanned drone.</li>
  </ul>
  <ul class="drone" id="div1info">
  <li> A company named Fly4Me has opened its services offering different types of information
    largely available through the use of drones. The services offered include, personalized videos, mapping, inspections and
    disaster relief.</li>
   </ul>
</div>
<div class="container" id="nopadding">
  <center><h1>Education</h1></center>
  <p>
    In the Educational Field drones allow for more versatility in many different school projects and programs. It allows students to dip their toes into subjects such as:
    <ul class="drone">
      <li>Mapping and regional data</li>
    </ul>
    <ul class="drone">
      <li>architecture and engineering</li>
    </ul>
    <ul class="drone">
      <li>programing and computer science</li>
    </ul>
    UAS technology allows students to observes topic related and observe what is happening in real time or do experts that normally would be dangerous or difficult to pull
    off such as a 1000 ft egg drop competition. Not only do drone allow student to interact with what they are observing it also allows them to interact with the actual UAS
    technology  and if the desire they can learn how the technology works and get a advance understanding of electronics, aerodynamics,and programming.
  </p>
</div>
<div class="division1">
  <iframe class="video" src = "https://www.youtube.com/embed/2hqppfBJmng" allowfullscreen></iframe>
  <h1 class="inline" id="white">Near future uses of UAS technology.</h1>
  <p class="text1" id="white">UAS technology might seem to be at a very high point, but UAS/Drones technology is still evolving.Two examples UAS technology
    that might be more widely used in the near future are crop survey UAS and wifi drones.
  </p>
  <p class="text1" id="white">Crop survey UAS are used to check crops and efficiently apply pesticides so that the whole field doesn't needs to sprayed and
    only a small section needs to be tended to reducing pollution through run off. As for the case of Wifi drones, drone technology that will fly
    over areas needing local wifi or internet access can come in the near future allowing remote area such as remote camps have access to the
    huge resource of knowledge and communication capabilities of the internet.
  </p>
</div>
<div class="container">
    <h1>Fear of UAS technology</h1>
      <p>
        Although UAS technology might seem like a very helpful and Entertaining resource many people point out flaws
        and fear tied and weighing down UAS Technology .Most fears are associated to one primary theme invasion of privacy.
      </p>
      <ul>
          <li>The fear of being videotaped unknowingly. </li>
        </ul>
        <ul>
            <li>invasion of property and property damage.</li>
          </ul>
          <ul>
              <li>Harm done to humans through drones.</li>
            </ul>
      <p>Many people fear the that they will be spied on or will be harmed do to the versatility and how easy it is to get
        a drone mainly one with a camera. many also have a fear of the drones being weaponized,but that fear is not as great
        as invasion of privacy or property due to many laws being passed to regulate what a drone can do. Due to the fears
        bought by drone it is now mandatory you buy a $5 license for your drone ,it might not be expensive but it tracks and
        checks the drone and what it’s being used for.
      </p>
  <center>
    <iframe class="video" src = "https://www.youtube.com/embed/kPGO3AQ-z5w" allowfullscreen></iframe>
  </center>
</div>
<div class="division1" id="last">
  <%= image_tag "splash-drone.jpg", class: "tempimg3"%>
  <h1 class="inline" id="div2">Fear of the UAS users</h1>
  <p id="div1info"> The fears of the consumers have lead to companies and enthusiast of drones , to gain their own fears such as :
  </p>
  <ul class="drone" id="div1info">
    <li>Damage their drones.</li>
  </ul>
  <ul class="drone" id="div1info">
    <li>Government regulation of UAS technology.</li>
  </ul>
  <p id="div1info"> Many companies and enthusiasts fear that their drones will be shot down or damaged do to people thinking
    that they are being spied on or think they will be harmed. Causing companies and UAS enthusiast have to be cautious about what they
    do with their drones so they won't cause any uproar. They fear that an uproar can cause a branch or type of drone will be banned or
    be controlled by the government.
  </p>
</div>
<div class="container" id="black">
<p>Additionally If there's one thing that science has taught us it is to pay extreme attention to detail. Drones that have jobs such as
  monitoring nuclear waste, analyzing volcanic eruptions, and observing climate change. This research will definitely help scientists
  better understand the world we live in. It should also give engineers information to improve current STEAM (Science Technology Engineering
  Arts Mathematics) industries and maybe even spring new start-ups to give us some new future technology.
</p>
</div>

<div class="division3">
  <%= image_tag "RAMTECH1.png", class: "tempimg4"%>
  <table class="table">
    <tr>
      <td>
        Bryan Padron
      </td>
      <td>
        Daniel Manso
      </td>
      <td>
        Lazaro Osuna
      </td>
    </tr>
    <tr>
      <td>
        786-877-1468
      </td>
      <td>
        786-424-4815
      </td>
      <td>
        786-372-2607
      </td>
    </tr>
    <tr>
      <td>
        Bpadron2000@gmail.com
      </td>
      <td>
        daniel.manso3345@gmail.com
      </td>
      <td>
        sircraftsalot111@gmail.com
      </td>
    </tr>
  </table>
  <center>
    <a href="#top">
      <button class="btn btn-info">
        Back to top
      </button>
    </a>
  </center>
</div>
